/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	box-sizing: border-box;
	
}


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');


#root {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;


}


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
:focus,
:active {
	outline: none;
}